@media(max-width: 1191px) {
    .discussion__item {
        max-width: 100%;
    }

    .dots {
        right: -20px;
        top: -4px;
    }
}

@media(max-width: 790px) {
    .discussion__title {
        font-size: 24px;
        line-height: 36px;

    }
    .dots {
        right: -40px;
    }

    .user__inner {
        flex-wrap: wrap;

    }

    .user__aside {
        max-width: 100%;
    }

    .profile {
        justify-content: flex-start;

        &__nickname {
            display: block;

        }
    }

    .followers {
        justify-content: space-around;

        &__description {
            margin-bottom: 15px;
        }

    }

    .header .bell {
        margin-left: 0;
    }
}



@media(max-width: 657px) {
    .user__asid {
        margin-right: 20px;
    }
    .dots__list {
        right: 40px;
        z-index: 2;
        &-active {
            right: 40px;
            z-index: 2;

        }
    }

}

@media(max-width: 490px){
    .discussion__top {
        display: none;
    }

    .dots {
        right: -20px;
        top: -4px;
    }

}


