.profile {
    display: flex;
    justify-content: space-between;

    &__user {
        margin-left: 24px;
        position: relative;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        font-family: 'Montserrat', sans-serif;

    }

    &__nickname {
        line-height: 20px;
        letter-spacing: -0.5px;
        margin-top: 8px;
        font-size: 16px;
    }

    &__edit {
        position: relative;
        line-height: 20px;
        text-decoration-line: underline;
        color: #F05D63;
        margin-top: 16px;
        margin-left: 28px;
        font-size: 16px;
        line-height: 20px;

        &:hover {
            color: #f0393f;

        }
    }

    &__edit::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url(../images/pensil.svg);
        background-repeat: no-repeat;
        left: -28px;
    }

}