.switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__text {
        line-height: 19px;
        font-weight: 600;
        margin-right: 30px;
    }

    &__button {
        margin-right: 30px;
        display: flex;
        align-items: center;

    }
}